@charset "utf-8";

div{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

a{
  color: #000;
  text-decoration: none;
}

ul{
  list-style: none;
}

section {
  padding: 0.5rem 1.5rem !important;
}


img.redonda {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

img.foto {
  width: 200px;
  height: 200px;
  /* border: dotted 2px; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

img.foto-table {
  width: 40px;
  height: 40px;
  /* border: dotted 2px; */
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  vertical-align: middle;
}

table{
  width: 90%;
  margin: 0 auto;
  position: relative;
  font-weight: bold;
  text-align: center;
}
table th, table td{
  vertical-align: middle !important;
  text-align: center !important;
}

.subtitle


/*CABECERA*/
#cabecera{
  width: 95%;
  background-color: none;
  text-align: left;
  margin: 0px auto;
}

.app {
  float: right;
  width: 35%;
  padding-top: 10px;
  text-align: right;
}

.app img{
  width: 150px;
  /*height: 35px;*/
}


.titulo{
  padding: 5px;
  border: solid 1px;
  border-radius: 10px;
  background: darkgrey;
  margin: 10px 50px;
}


/*PATROCINADORES*/
#patrocinadores{
  float: left;
  width: 100%;
  margin: 20px auto;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}

#patrocinadores img{
   border-radius: 5px;
}


/*CLASIFICACION*/
tr.champions{
    background-color: #FFFF00;
    color: #000;
}
tr.uefa{
    background-color: #FFC000;
    color: #000;
}
tr.intertoto{
    background-color: #E26B0A;
    color: #000;
}
tr.resto{
    background-color: #FFF;
    color: #000;
}
tr.descenso{
    background-color: #F00;
    color: #FFF;
}

td.left-table{
    text-align: left !important;
}
tbody tr:hover{
  background-color: #0F0 !important;
  color: #000 !important;
}

/*Por jornada*/
#table_jornada{
  background-color: #ABC;
  display: inline-block;
  margin: 1px 3px 10px 3px;
  padding: 0px;
  border-radius: 5px;
}
#table_jornada table{
  width: 98%;
}
#table_jornada table tbody,
#table_jornada table thead{
  font-size: 0.7em;
}

/*GALERIA*/
#contenedor{
  width: 95%;
  border-radius: 15px;
  background-color: #669900;
  margin: 0px auto;
  text-align: center;
  padding: 5px;
}

.subcontenedor{
  background-color: #FFF;
  text-align: center;
  display: inline-table;
  border-radius: 15px;
  margin: 5px;
}


/*REGLAMENTO*/
#contenedor-reglas{
  width: 90%;
  height: 100%;
  background-color: #669900;
  border-radius: 10px;
  padding: 20px;
  margin: 0px auto;
}

#contenedor-reglas p{
  /*margin: 1px 1px 15px 1px;*/
  color: #FFF;
}

#contenedor-reglas ol{
  margin: 1px 1px 1px 30px;
}

.regla-titulo{
  font-weight: bold;
  font-style: italic;
  color: #000 !important;
  margin: 10px 1px 1px 1px;
}

.regla-texto{
  margin: 1px 1px 1px 30px;
}

/*GRAFICOS*/
#contenedor-graficos{
  width: 95%;
  border-radius: 15px;
  margin: 0px auto;
  text-align: center;
  padding: 5px;
}

.c3 text {
  font-size: 13px;
}
