/*CUP*/
.cup-table{
  width: 85%;
  td{
    width: 33%;
  }
  th{
   text-align: left !important;
 }
}

#tab_container{
  .container_item {
    display: none;
  }
  .container_item.is-active {
    display: block;
 }
}
