/*CABECERA*/
#cabecera{
  width: 95%;
  background-color: none;
  text-align: left;
  margin: 0px auto;
}

.apps-icons {
  float: right;
  width: 35%;
  padding-top: 10px;
  text-align: right;
  img{
    width: 120px;
    /*height: 35px;*/
  }
}
