/* INDEX */
.main-title{
  color: #FFF;
  font-size: 3em;
  background: rgba(255,255,255, 0.3);
  border-radius: 10px;
}

/* Banner Sponsors */
#patrocinadores{
  float: left;
  width: 100%;
  margin: 20px auto;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  bottom: 0px;
  img{
     @include border-radius(5px);
  }
}

.bg {
  /* The image used */
  background-image: url("../img/background.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
