/* TAGS */
body, html {
  height: 100%;
  margin: 0;
}

div{
  font-family: $font-family;
}

p{
  font-family: $font-family;
  text-align: justify;
}

a{
  color: #000;
  text-decoration: none;
}

ul{
  list-style: none;
}

/* MENUS */
@media (max-width: 992px) {
  .nav-fill .nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: left;
  }
}
