/* CLASIFICACIONES */
.table td{
  padding: .4rem !important;
  vertical-align: middle;
}

tr.champions {
  background-color: $color-champions;
  color: #000;
}
tr.uefa {
  background-color: $color-uefa;
  color: #000;
}
tr.intertoto {
  background-color: $color-intertoto;
  color: #000;
}
tr.resto {
  background-color: $color-resto;
  color: #000;
}
tr.descenso {
  background-color: $color-descenso;
  color: #FFF;
}


td.left-table{
  text-align: left !important;
}
td.right-table{
  text-align: right !important;
}
td.center-table{
  text-align: center !important;
}

tbody{
  tr.fila:hover{
    background-color: $color-hover !important;
    color: #000 !important;
  }
  tr:hover a{
    color: #000 !important;
  }
  tr.fila{
    th:hover{
      background-color: #FFF !important;
      color: #000 !important;
    }
  }
}

.historic_table{
  font-size: 1rem;
  .title{
    font-size: 1.2rem;
  }
}

img.table-foto {
  width: 2rem;
  height: 2rem;
  @include border-radius(50%);
  vertical-align: middle; }

img.table-shield {
  width: 2.3rem;
  height: 2.3rem;
  vertical-align: middle; }

img.arrow {
  width: 2rem; }

@media (min-width: 576px) {
  .historic_table {
    display: inline-block;
    margin: 1px 3px 10px 3px;
    border: 1px solid;
    @include border-radius(5px);
  }
}
@media (min-width: 992px) {
  img.table-foto {
    width: 2.5rem;
    height: 2.5rem;
    @include border-radius(50%);
    vertical-align: middle; }

  img.table-shield {
    width: 2.8rem;
    height: 2.8rem;
    vertical-align: middle; }
}
