@import url('https://fonts.googleapis.com/css?family=Roboto');

$color-champions: #FFFF00;
$color-uefa: #FFC000;
$color-intertoto: #E26B0A;
$color-resto: #FFF;
$color-descenso: #FF5555;
$color-hover: #0F0;
$color-futmondo: #2FB101; //#669900;
$color-ligafantastica: #00A0E3;
$color-mundial: #FFBF00;
$color-eurocopa: #C0C0C0;

$font-family: 'Roboto', sans-serif;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transform($degree) {
  -webkit-transform: rotate($degree);
  -moz-transform: rotate($degree);
  -ms-transform: rotate($degree);
  -o-transform: rotate($degree);
  transform: rotate($degree);
}
