<header style="background-color: #FFF">
  <div id="cabecera" class="d-none d-lg-block"> <a href="/"><img src="/img/banner_opium.png" alt="Logo"/></a>&nbsp;
    <div class="apps-icons d-none d-lg-block">
      <a href="https://itunes.apple.com/es/app/futmondo-manager-de-futbol/id663530434?mt=8" title="Ir a Apple Store" target="_blank">
      <img src="/img/ios_footer.png"></a>
      <a href="https://play.google.com/store/apps/details?id=com.mondosports.futmondo" title="Ir a Google Play" target="_blank">
      <img src="/img/android_footer.png"></a>
    </div>
  </div>
</header>
