<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand d-lg-none d-block" href="/">
    <img src="/img/banner_opium.png" height="40" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav nav-fill w-100">
      <li class="nav-item active">
        <a class="nav-link" style="font-size: 1.1em;" href="/">
          <span><i class="fa fa-home" aria-hidden="true"></i></span>
          <span>Home <span class="sr-only">(current)</span></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.1em;" href="/views/table.html">
          <span><i class="fa fa-table" aria-hidden="true"></i></span>
          <span>Clasificación</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.1em;" href="/views/charts.html">
          <span><i class="fa fa-area-chart" aria-hidden="true"></i></span>
          <span>Gráficos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.1em;" href="/views/cup.html">
          <span><i class="fa fa-trophy" aria-hidden="true"></i></span>
          <span>Copa</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.1em;" href="/views/rules.html">
          <span><i class="fa fa-file-text" aria-hidden="true"></i></span>
          <span>Reglamento</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.1em;" href="/views/gallery.html">
          <span><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
          <span>Participantes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.1em;" href="/views/history.html">
          <span><i class="fa fa-university" aria-hidden="true"></i></i></span>
          <span>Historia</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
