<style media="screen">
  .nav-link{
    color: #000 !important;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand d-lg-none d-block" href="/">
    <img src="/img/banner_opium.png" height="40" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav nav-fill w-100">
      <li class="nav-item active">
        <a class="nav-link" style="font-size: 1.1em;" href="/">
          <span><i class="fas fa-home"></i></span>
          <span>Home <span class="sr-only">(current)</span></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.1em;" href="/views/table.html">
          <span><i class="fas fa-table"></i></span>
          <span>Clasificación</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.1em;" href="/views/charts.html">
          <span><i class="fas fa-chart-area"></i></span>
          <span>Gráficos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.1em;" href="/views/competitions.html">
          <span><i class="fas fa-trophy"></i></span>
          <span>Competiciones</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.1em;" href="/views/rules.html">
          <span><i class="fas fa-file-alt"></i></span>
          <span>Reglamento</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.1em;" href="/views/gallery.html">
          <span><i class="fas fa-user-circle"></i></span>
          <span>Participantes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 1.1em;" href="/views/history.html">
          <span><i class="fas fa-university"></i></i></span>
          <span>Historia</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
