<!DOCTYPE html>
<html lang="es" ng-app="opiumLeage">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" sizes="128x128" href="../img/favicon.ico" />
    <link rel="apple-touch-icon" href="/img/icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/icon-iphone4.png" />
    <title>Opium League :: Gráficos</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

    <!-- Graficos -->
    <link href="../css/c3.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>



    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92241042-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>

    <!-- Header  -->
    <span ng-include="'/views/_header.html'"></span>

    <!-- Navbar -->
    <span ng-include="'/views/_navbar.html'"></span>


    <div class="h3 text-center my-3">GRÁFICOS</div>


    <span class="has-text-centered" ng-controller="ChartsController">

    <!-- GRAFICOS -->
    <div id="chart_position" style="width:100%; height:600px;"></div>
    <div id="chart_evolution" style="width:100%; height:600px;"></div>
    <div id="chart_winners" style="width:100%; height:600px;"></div>
    <div id="chart_top" style="width:100%; height:600px;"></div>
    <!-- <div class="card">
      <div class="card-header">
        <i class="fa fa-line-chart" aria-hidden="true"></i> EVOLUCIÓN POR JORNADA
      </div>
      <div class="card-body">
        <div id="chart_position"></div>
        <div id="chart_evolution"></div>
      </div>
    </div> -->
<!--
    <div class="card">
      <div class="card-header">
        <i class="fa fa-bar-chart" aria-hidden="true"></i> GANADORES DE JORNADA
      </div>
      <div class="card-body">
        <div id="chart_winners"></div>
      </div>
    </div> -->

    <!-- <div class="card">
      <div class="card-header">
        <i class="fa fa-pie-chart" aria-hidden="true"></i> JORNADAS COMO LÍDER
      </div>
      <div class="card-body">

      </div>
    </div> -->

    <div class="card">
      <div class="card-header">
        <i class="fa fa-exchange" aria-hidden="true"></i> MEJOR / PEOR JORNADA DE LA LIGA
      </div>
      <div class="card-body">
        <!-- Best/Worst Score -->
        <section class="text-center" ng-controller="TableController as table">
          <div class="row">
            <div class="col-sm-6">
              <div><i class="fa fa-trophy" aria-hidden="true"></i> Mejor Jornada: </div>
              <img ng-src="{{tables.score_best.shield}}" class="charts-foto" />
              <div>{{tables.score_best.team}}: {{tables.score_best.score}} puntos</div>
            </div>
            <div class="col-sm-6">
              <div><i class="fa fa-trophy fa-trophy-down" aria-hidden="true"></i> Peor Jornada: </div>
              <img ng-src="{{tables.score_worst.shield}}" class="charts-foto" />
              <div>{{tables.score_worst.team}}: {{tables.score_worst.score}} puntos</div>
            </div>
          </div>
          <span id="table_jornada" class="text-center" ng-repeat="jornada in jornadas_table" ng-show="jornada[0].points" ng-cloak>
          </span>
        </section>
      </div>
    </div>

    <!-- <span class="card">
      <div class="card-content">
        <p class="title is-5"><i class="fa fa-exchange" aria-hidden="true"></i> MEJOR / PEOR JORNADA DE LA LIGA</p>
      </div>
      <div class="card-image">
        <section class="section has-text-centered" ng-controller="TableController as table">
          <div class="columns">
            <div class="column">
              <div><i class="fa fa-trophy" aria-hidden="true"></i> Mejor Jornada: </div>
              <img ng-src="{{tables.score_best.shield}}" class="foto" />
              <div>{{tables.score_best.team}}: {{tables.score_best.score}} puntos</div>
            </div>
            <div class="column">
              <div><i class="fa fa-trophy fa-trophy-down" aria-hidden="true"></i> Peor Jornada: </div>
              <img ng-src="{{tables.score_worst.shield}}" class="foto" />
              <div>{{tables.score_worst.team}}: {{tables.score_worst.score}} puntos</div>
            </div>
          </div>
          <span id="table_jornada" class="has-text-centered" ng-repeat="jornada in jornadas_table" ng-show="jornada[0].points" ng-cloak>
          </span>
        </section>
      </div>
    </span> -->
  </span>

  <p>&nbsp;</p>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <!-- Load d3.js and c3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
  <script src="../js/c3.min.js"></script>

  <script src="../js/app.js"></script>
  <script src="../js/table.js"></script>
  <script src="../js/charts.js"></script>


  </body>
</html>
