<!DOCTYPE html>
<html lang="es" ng-app="opiumLeage">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link rel="apple-touch-icon" href="/img/icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/icon-iphone4.png" />
    <title>Opium League :: Historia</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" type="text/css" >
    <link rel="stylesheet" href="../css/style.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92241042-1', 'auto');
      ga('send', 'pageview');
    </script>
    <style media="screen">
      .campeones{
        height: 170px !important;
        width: 170px !important;
        border-radius: 150px;
        margin: 15px;
      }
      .card{
        width: 220px;
      }
      .card-image {
        text-align: center;
      }
    </style>
  </head>

  <body>

    <!-- Header  -->
    <header>
      <div id="cabecera"> <a href="/"><img src="../img/banner_opium.png" alt="Logo"/></a>&nbsp;
        <div class="apps-icons">
          <a href="https://itunes.apple.com/es/app/futmondo-manager-de-futbol/id663530434?mt=8" title="Ir a Apple Store" target="_blank">
          <img src="../img/ios_footer.png"></a>
          <a href="https://play.google.com/store/apps/details?id=com.mondosports.futmondo" title="Ir a Google Play" target="_blank">
          <img src="../img/android_footer.png"></a>
        </div>
      </div>
    </header>


    <!-- Menu -->
    <div class="tabs is-boxed">
      <ul>
        <li>
          <a href="/">
            <span><img src="../img/logo_opium_icono.png" style="height: 30px; width: 30px;" alt=""></span>
            <span>IX OPIUM LEAGUE</span>
          </a>
        </li>
        <li>
          <a href="/views/table.html">
            <span class="icon is-small"><i class="fa fa-table" aria-hidden="true"></i></span>
            <span>Clasificación</span>
          </a>
        </li>
        <li>
          <a href="/views/charts.html">
            <span class="icon is-small"><i class="fa fa-area-chart" aria-hidden="true"></i></span>
            <span>Gráficos</span>
          </a>
        </li>
        <li>
          <a href="/views/cup.html">
            <span class="icon is-small"><i class="fa fa-trophy" aria-hidden="true"></i></span>
            <span>COPA</span>
          </a>
        </li>
        <li>
          <a href="/views/rules.html">
            <span class="icon is-small"><i class="fa fa-file-text" aria-hidden="true"></i></span>
            <span>Reglamento</span>
          </a>
        </li>
        <li>
          <a href="/views/gallery.html">
            <span class="icon is-small"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
            <span>Participantes</span>
          </a>
        </li>
        <li class="is-active">
          <a href="/views/history.html">
            <span class="icon is-small"><i class="fa fa-university" aria-hidden="true"></i></i></span>
            <span>Historia</span>
          </a>
        </li>
      </ul>
    </div>







    <div class="columns is-mobile">
      <div class="column is-12-tablet is-12-mobile" style="display: flex; margin: 0 5%;">
        <div class="card">
          <div class="card-image">
              <img src="../img/players/dioni.png" class="campeones" />
          </div>
          <div class="card-content">
            <div class="content">
              <span>4 Ligas</span><br>
              <i class="fa fa-trophy color-ligafantastica" aria-hidden="true"></i>
              <i class="fa fa-trophy color-ligafantastica" aria-hidden="true"></i>
              <i class="fa fa-trophy color-ligafantastica" aria-hidden="true"></i>
              <i class="fa fa-trophy color-ligafantastica" aria-hidden="true"></i>
            </div>
          </div>
          <footer style="padding: 15px;">
            <div>Participaciones:</div>
            <div style="text-align: center;">
              <span class="tag is-dark">2010-2011</span>
              <span class="tag is-dark">2011-2012</span>
              <span class="tag is-dark">2013-2014</span>
              <span class="tag is-dark">2014-2015</span>
            </div>
          </footer>
        </div>

        <div class="card">
          <div class="card-image">
              <img src="../img/players/ru.png" class="campeones" />
          </div>
          <div class="card-content">
            <div class="content">
              <span>1 Liga</span><br>
              <i class="fa fa-trophy color-ligafantastica" aria-hidden="true"></i>
            </div>
          </div>
          <footer style="padding: 15px;">
            <div>Participaciones:</div>
            <div style="text-align: center;">
              <span class="tag is-dark">2009-2010</span>
              <span class="tag is-dark">2010-2011</span>
              <span class="tag is-dark">2011-2012</span>
              <span class="tag is-dark">2014-2015</span>
            </div>
          </footer>
        </div>

        <div class="card">
          <div class="card-image">
              <img src="../img/players/che.png" class="campeones" />
          </div>
          <div class="card-content">
            <div class="content">
              <span>1 Liga</span><br>
              <i class="fa fa-trophy color-ligafantastica" aria-hidden="true"></i>
            </div>
          </div>
          <footer style="padding: 15px;">
            <div>Participaciones:</div>
            <div style="text-align: center;">
              <span class="tag is-dark">2009-2010</span>
              <span class="tag is-dark">2010-2011</span>
              <span class="tag is-dark">2011-2012</span>
              <span class="tag is-dark">2012-2013</span>
              <span class="tag is-dark">2013-2014</span>
              <span class="tag is-dark">2014-2015</span>
              <span class="tag is-dark">2015-2016</span>
              <span class="tag is-dark">2016-2017</span>
            </div>
          </footer>
        </div>

        <div class="card">
          <div class="card-image">
              <img src="../img/players/borja_ramos.jpg" class="campeones" />
          </div>
          <div class="card-content">
            <div class="content">
              <span>1 Liga</span><br>
              <i class="fa fa-trophy color-ligafantastica" aria-hidden="true"></i>
            </div>
          </div>
          <footer style="padding: 15px;">
            <div>Participaciones:</div>
            <div style="text-align: center;">
              <span class="tag is-dark">2015-2016</span>
              <span class="tag is-dark">2016-2017</span>
            </div>
          </footer>
        </div>

        <div class="card">
          <div class="card-image">
              <img src="../img/players/chema.png" class="campeones" />
          </div>
          <div class="card-content">
            <div class="content">
              <span>1 Liga</span><br>
              <i class="fa fa-trophy color-ligafutmondo" aria-hidden="true"></i>
            </div>
          </div>
          <footer style="padding: 15px;">
            <div>Participaciones:</div>
            <div style="text-align: center;">
              <span class="tag is-dark">2011-2012</span>
              <span class="tag is-dark">2016-2017</span>
            </div>
          </footer>
        </div>
        <br/>

      </div>
    </div>



    <!-- Season's Table -->
    <section class="section">
      <div class="subtitle has-text-centered">CAMPEONES OPIUM LEAGUE</div>
      <table class="table">
        <thead>
          <tr>
            <th>Temporada</th>
            <th>Equipo</th>
            <th>Campeón</th>
            <th>Equipos</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Temporada</th>
            <th>Equipo</th>
            <th>Campeón</th>
            <th>Equipos</th>
          </tr>
        </tfoot>
        <tbody>
          <tr class="fila-impar">
            <td>2009 - 2010</td>
            <td class="left-table"><img src="../img/shields/ru.png" class="foto-table" alt="Los Antimerengues"> Los Antimerengues</td>
            <td class="left-table"><i class="fa fa-trophy color-ligafantastica" aria-hidden="true"></i> <img src="../img/players/ru.png" class="foto-table"/> Ru</td>
            <td>14</td>
          </tr>
          <tr class="fila-par">
            <td>2010 - 2011</td>
            <td class="left-table"><img src="../img/shields/dioni.png" class="foto-table" alt="R. Cuervos C.F."> R. Cuervos C.F.</td>
            <td class="left-table"><i class="fa fa-trophy color-ligafantastica" aria-hidden="true"></i> <img src="../img/players/dioni.png" class="foto-table"/> Dioni</td>
            <td>18</td>
          </tr>
          <tr class="fila-impar">
            <td>2011 - 2012</td>
            <td class="left-table"><img src="../img/shields/dioni.png" class="foto-table" alt="R. Cuervos C.F."> R. Cuervos C.F.</td>
            <td class="left-table"><i class="fa fa-trophy color-ligafantastica" aria-hidden="true"></i> <img src="../img/players/dioni.png" class="foto-table"/> Dioni</td>
            <td>23</td>
          </tr>
          <tr class="fila-par">
            <td>2012 - 2013</td>
            <td class="left-table"><img src="../img/shields/che.png" class="foto-table" alt="Los Antimerengues"> Amunt Che</td>
            <td class="left-table"><i class="fa fa-trophy color-ligafantastica" aria-hidden="true"></i> <img src="../img/players/che.png" class="foto-table"/> Che</td>
            <td>18</td>
          </tr>
          <tr class="fila-impar">
            <td>2013 - 2014</td>
            <td class="left-table"><img src="../img/shields/dioni.png" class="foto-table" alt="R. Cuervos C.F."> R. Cuervos C.F.</td>
            <td class="left-table"><i class="fa fa-trophy color-ligafantastica" aria-hidden="true"></i> <img src="../img/players/dioni.png" class="foto-table"/> Dioni</td>
            <td>7</td>
          </tr>
          <tr class="fila-par">
            <td>2014 - 2015</td>
            <td class="left-table"><img src="../img/shields/dioni.png" class="foto-table" alt="Real Ru Cobarde"> Real Ru Cobarde</td>
            <td class="left-table"><i class="fa fa-trophy color-ligafantastica" aria-hidden="true"></i> <img src="../img/players/dioni.png" class="foto-table"/> Dioni</td>
            <td>8</td>
          </tr>
          <tr class="fila-impar">
            <td>2015 - 2016</td>
            <td class="left-table"><img src="../img/shields/borja_ramos.png" class="foto-table" alt="Bierzo Power"> Bierzo Power</td>
            <td class="left-table"><i class="fa fa-trophy color-ligafantastica" aria-hidden="true"></i> <img src="../img/players/borja_ramos.jpg" class="foto-table"/> Borja Ramos</td>
            <td>23</td>
          </tr>
          <tr class="fila-par">
            <td>2016 - 2017</td>
            <td class="left-table"><img src="../img/logo_opium_icono.png" class="foto-table" alt="Sabeko Areucas"> Sabeko Areucas</td>
            <td class="left-table"><i class="fa fa-trophy color-ligafutmondo" aria-hidden="true"></i> <img src="../img/players/chema.png" class="foto-table"/> Chema</td>
            <td>23</td>
          </tr>
        </tbody>
      </table>
    </section>

    <p class="has-text-centered"><img class="redonda" src="/img/history.jpg" alt=""></p>

  </body>
</html>
