<!doctype html>
<html lang="es" ng-app="opiumLeage">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" sizes="128x128" href="../img/favicon.ico" />
    <link rel="apple-touch-icon" href="../img/icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="../img/icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="../img/icon-iphone4.png" />
    <title>Opium League :: Reglamento</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92241042-1', 'auto');
      ga('send', 'pageview');
    </script>

    <style media="screen">
      /* CABECERA */
      #cabecera {
        width: 95%;
        background-color: none;
        text-align: left;
        margin: 0px auto; }

      .apps-icons {
        float: right;
        width: 35%;
        padding-top: 10px;
        text-align: right; }

      .apps-icons img {
        width: 120px;
        /*height: 35px;*/ }


      /* MENUS */
      @media (max-width: 992px) {
        .nav-fill .nav-item {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          text-align: left;
        }
      }


      /*REGLAMENTO*/
      #contenedor-reglas {
        width: 90%;
        height: 100%;
        background-color: #2FB101;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        border-radius: 10px;
        padding: 20px;
        margin: 0px auto; }

      #contenedor-reglas p {
        /*margin: 1px 1px 15px 1px;*/
        color: #FFF;
        text-align: justify; }

      #contenedor-reglas ol {
        font-size: 1rem;
        margin: 1px 1px 1px 30px;
        color: #FFF;
        text-align: justify; }

      .regla-titulo {
        font-size: 0.6rem;
        font-weight: bold;
        font-style: italic;
        color: #000 !important;
        margin: 10px 1px 1px 1px; }

      .regla-texto {
        margin: 1px 1px 1px 30px;
        font-size: 0.6rem; }
    </style>
  </head>


  <body>
    <!-- Header  -->
    <span ng-include="'/views/_header.html'"></span>

    <!-- Menu -->
    <span ng-include="'/views/_navbar.html'"></span>


    <!--  Reglas  -->
    <section class="section">
      <div class="h3 text-center my-3">REGLAMENTO INTERNO</div>
      <div id="contenedor-reglas">
        <div class="content">
          <p class="regla-titulo">REGLA I</p>
          <p class="regla-texto">
            La "IX Opium League" es una  competición entre amigos basada en Futmondo, los  participantes se encuentran sometidos en primer lugar a lo dispuesto en el  reglamento oficial publicado por el sitio web de Futmondo y en segundo lugar  por las reglas que aquí se detallarán.</p>
        </div>

        <div class="content">
          <p class="regla-titulo">REGLA II – FECHAS DE LA COMPETICIÓN Y  SISTEMA DE PUNTUACIONES</p>
          <p class="regla-texto">
            El juego como norma general comenzará en la primera jornada en la que comience Futmondo, finalizando la última jornada del juego.<br>
            Por razones fundadas y con la finalidad de aumentar el número de  participantes la competición podrá comenzar en una fecha posterior e incluso  acabar en una fecha anterior.<br>
            Las únicas puntuaciones válidas son las oficialmente publicadas por Futmondo, a  través de la página web de su sitio web.
          </p>
        </div>

        <div class="content">
          <p class="regla-titulo">REGLA III - NÚMERO DE JUGADORES</p>
          <p class="regla-texto">
            El número de jugadores es ilimitado. No obstante la organización se reserva el derecho a crear una segunda liga en el caso de que el número de participantes sea excesivo.<br>
            Cada jugador podrá inscribir únicamente un equipo en la liga. Los participantes sólo podrán jugar con un sólo equipo, no pudiendo controlar ningún otro equipo ya sea de forma directa o indirecta, el  incumplimiento de esta regla supondrá la expulsión y pérdida de los derechos a premios para los jugadores y equipos implicados.
          </p>
        </div>

        <div class="content">
          <p class="regla-titulo">REGLA IV – INSCRIPCIÓN EN LA LIGA</p>
          <p class="regla-texto">
            Los equipos participantes deberán abonar una cuota de inscripción de 10 euros por cada  equipo que inscriban para poder participar. El pago deberá estar hecho al  inicio del campeonato, salvo que causas justificadas lo impidan hacer en plazo.  Las cantidades abonadas no son reembolsables en ningún caso.  <br>
            En cualquier  caso aquellos equipos que <strong>antes del comienzo del juego</strong> no se encuentren al corriente  del pago serán expulsados de la competición, perdiendo su derecho a recibir cualquier premio, aún cuando paguen con posterioridad, para regularizar su situación. El pago posterior únicamente habilita a seguir participando, pero sin derecho a premio
          </p>
        </div>

        <div class="content">
          <p class="regla-titulo">REGLA V – JUEZ ÚNICO</p>
          <p class="regla-texto">
            La interpretación de este reglamento, así como las controversias que surjan a lo largo de la competición, será realizado por un jurista en ejercicio ajeno a la organización, sometiéndose las partes a su dictamen, no cabiendo ningún tipo de recurso posterior. El letrado <em><strong>Iván Pedrejón de la Parte</strong></em> ejercerá esta función durante la vigencia de este reglamento.
          </p>
        </div>

        <div class="content">
          <p class="regla-titulo">REGLA VI – PREMIOS</p>
          <p class="regla-texto">
            Los <strong>premios regulares</strong> consistirán en el pago  en metálico de las siguientes cantidades:<br>
            1º Clasificado - 45% de lo recaudado y trofeo o diploma acreditativo <br>
            2º Clasificado - 20% de lo recaudado y trofeo o diploma acreditativo <br>
            3º Clasificado - 10% de lo recaudado y trofeo o diploma acreditativo <br>
            4º Clasificado - 5% de lo recaudado y trofeo o diploma acreditativo <br>
            5º Clasificado - 2% de lo recaudado y trofeo o diploma acreditativo <br>
            6º Clasificado - 2% de lo recaudado y trofeo o diploma acreditativo <br>
            7º Clasificado - 1% de lo recaudado y trofeo o diploma acreditativo <br>
            <span class="regla-titulo">Premios  especiales</span>:<br>
            <strong>10  euros</strong> al equipo que gane más jornadas individuales a lo largo de la liga.<br>
            <strong>10  euros</strong> al equipo que haya obtenido la puntuación más alta de todos los participantes  en una jornada de la liga. Este premio se otorga al final de la liga al equipo  cuya puntuación en una jornada única de la liga haya sido la más alta de todos  los participantes. <br>
            *Estos dos premios se entregarán únicamente si hay  fondos suficientes. Sino hubiera fondos suficientes se reducirán en proporción al remanente del 15% sobrante de los premios principales.
          </p>
        </div>

        <div class="content">
          <p class="regla-titulo">REGLA VII. – REQUISITOS PARA LA RECEPCIÓN DE LOS PREMIOS</p>
          <p class="regla-texto">
            <ol>
              <li>Estar al corriente de los pagos con la  organización dentro de las fechas señaladas en la Regla IV.</li>
              <li>No adeudar cantidad alguna de ejercicios anteriores.</li>
              <li>Respetar las decisiones tomadas por la organización.</li>
            </ol>
          </p>
          <p class="regla-texto">En el caso de que uno o varios de los equipos  ganadores incumplan alguna de estas condiciones, el premio irá a los siguientes clasificados que sí los cumplan.</p>
        </div>

        <div class="content">
          <p class="regla-titulo">REGLA VIII. – PENALIZACIONES</p>
          <p class="regla-texto">
            Los tres últimos equipos de la liga deberán abonar  el doble de la inscripción, para la temporada siguiente, si quieren volver a  participar.
          </p>
        </div>

        <div class="content">
          <p class="regla-titulo">REGLA IX. – CRITERIOS DE  DESEMPATE</p>
          <p class="regla-texto">
            <strong>Liga regular:</strong><br>
            Si dos  equipos quedaran empatados al finalizar la liga regular, quedará por delante  aquel equipo que haya obtenido la puntuación más alta de los dos en una jornada  única de la liga.<br>
            Si  persistiera el empate se repartirá el premio o penalización que correspondiera  por partes iguales.<br>
            <strong>Premios especiales:</strong><br>
            En caso  de empate se utilizará el sorteo como criterio de desempate.
          </p>
        </div>

        <div class="content">
          <p class="regla-titulo">REGLA X. – INFRACCIONES</p>
          <p class="regla-texto">
            Se consideran faltas graves las siguientes:
            <ol>
              <li>No pagar las cuotas en plazo</li>
              <li>Adeudar cantidades de ejercicios anteriores</li>
              <li>No respetar las reglas de la competición , ni los  dictámenes del <em>Juez Único</em>.</li>
              <li>La comisión de tres o más infracciones leves.</li>
            </ol>
          </p>
          <p class="regla-texto">Se consideran infracciones leves todas aquellas que no  tengan la consideración de graves.</p>
        </div>

        <div class="content">
          <p class="regla-titulo">REGLA XI. - SANCIONES</p>
          <p class="regla-texto">
            Por la comisión de <strong>infracciones graves</strong>:<br>
            Pérdida de derecho a la percepción de premio alguno, así como la  imposibilidad de participar en la competición del año siguiente. La  regularización en el pago rehabilitará el derecho a participar en la  competición del año siguiente con plenitud de derechos.<br><br>
            Por la comisión de<strong> infracciones leves</strong>:<br>
            Amonestacion verbal.
          </p>
        </div>

        <div class="content">
          <p class="regla-titulo">REGLA XII. – PROCEDIMIENTO  SANCIONADOR</p>
          <p class="regla-texto">
            Se iniciará de oficio o a instancia de parte, los interesados  tendrán diez días naturales para realizar alegaciones y el<em> Juez Único</em> de  competición decidirá en los 10 días naturales siguientes, sin que quepa recurso  posterior alguno.
          </p>
        </div>
      </div>
    </section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/gallery.js"></script>
  </body>
</html>
