<!doctype html>
<html lang="es" ng-app="opiumLeage">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" sizes="128x128" href="../img/favicon.ico" />
    <link rel="apple-touch-icon" href="../img/icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="../img/icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="../img/icon-iphone4.png" />
    <title>Opium League :: Clasificaciones</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/style.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92241042-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>


  <body ng-controller="TableController">

    <!-- Header  -->
    <span ng-include="'/views/_header.html'"></span>

    <!-- Navbar -->
    <span ng-include="'/views/_navbar.html'"></span>


    <div class="h3 text-center my-3">CLASIFICACIONES</div>


    <!-- Tabs -->
    <ul class="nav nav-tabs nav-fill my-3" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
          <span><i class="fas fa-table"></i></span>
          <span class="d-none d-md-inline">Clasificación General</span>
          <span class="d-sm-inline d-md-none">Cla. Gral.</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
          <span class="icon is-small"><i class="far fa-clock"></i></span>
          <span class="d-none d-md-inline">Histórico General</span>
          <span class="d-sm-inline d-md-none">His. Gral.</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
          <span class="icon is-small"><i class="far fa-clock"></i></span>
          <span class="d-none d-md-inline">Histórico Jornadas</span>
          <span class="d-sm-inline d-md-none">His. Jor.</span>
        </a>
      </li>
    </ul>



    <!-- TABLES -->
    <div class="tab-content" id="myTabContent">
      <!-- General Table -->
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <section class="table-responsive">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th class="text-center align-middle"><abbr title="Posicion">Pos</abbr></th>
                <th class="text-center align-middle"><abbr title="Sube/baja posición">#####</abbr></th>
                <th class="text-center align-middle">Equipo</th>
                <th class="text-center align-middle d-none d-md-table-cell">Jugador</th>
                <th class="text-center align-middle d-none d-sm-table-cell"><abbr title="Jornada">Jor</abbr></th>
                <th class="text-center align-middle"><abbr title="Puntos">Ptos</abbr></th>
                <th class="text-center align-middle d-none d-sm-table-cell"><abbr title="Mejor Jornada">Mejor</abbr></th>
                <th class="text-center align-middle d-none d-sm-table-cell"><abbr title="Peor Jornada">Peor</abbr></th>
                <th class="text-center align-middle d-none d-sm-table-cell"><abbr title="Media Puntos/Jornada">Media</abbr></th>
              </tr>
            </thead>
            <tfoot class="thead-light">
              <tr>
                <th class="text-center align-middle"><abbr title="Posicion">Pos</abbr></th>
                <th class="text-center align-middle"><abbr title="Sube/baja posición">#####</abbr></th>
                <th class="text-center align-middle">Equipo</th>
                <th class="text-center align-middle d-none d-md-table-cell">Jugador</th>
                <th class="text-center align-middle d-none d-sm-table-cell"><abbr title="Jornada">Jor</abbr></th>
                <th class="text-center align-middle"><abbr title="Puntos">Ptos</abbr></th>
                <th class="text-center align-middle d-none d-sm-table-cell"><abbr title="Mejor Jornada">Mejor</abbr></th>
                <th class="text-center align-middle d-none d-sm-table-cell"><abbr title="Peor Jornada">Peor</abbr></th>
                <th class="text-center align-middle d-none d-sm-table-cell"><abbr title="Media Puntos/Jornada">Media</abbr></th>
              </tr>
            </tfoot>
            <tbody>
              <tr ng-repeat="player in general_table" ng-cloak ng-class="{'champions': player.position_general < 5,
                          'uefa': (player.position_general == 5 || player.position_general == 6),
                          'intertoto': player.position_general == 7,
                          'descenso': player.position_general > general_table.length - 3}">
                <th class="text-center align-middle">{{player.position_general}}</th>
                <td class="text-center align-middle"><img ng-src="{{player.updown}}" class="arrow" /> {{player.updown_num}}</td>
                <td class="align-middle"><a href="profile.html?id={{player.id}}" class="text-dark"><img ng-src="{{player.shield}}" class="foto-table" /> {{player.team}}</a></td>
                <td class="align-middle d-none d-md-table-cell"><a href="profile.html?id={{player.id}}" class="text-dark"><img ng-src="{{player.image}}" class="foto-table" /> {{player.name}}</a></td>
                <td class="text-center align-middle d-none d-sm-table-cell">{{player.num_jornadas}}</td>
                <td class="text-center align-middle font-weight-bold">{{player.score_general}}</td>
                <td class="text-center align-middle d-none d-sm-table-cell">{{player.score_best}}</td>
                <td class="text-center align-middle d-none d-sm-table-cell">{{player.score_worst}}</td>
                <td class="text-center align-middle d-none d-sm-table-cell">{{player.score_average}}</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>

      <!-- Match-day Tables -->
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <section class="table-responsive text-center">
          <div class="text-center">HISTÓRICO GENERAL</div>
          <span class="historic_table" ng-repeat="jornada in historic_general" ng-show="jornada[0].id" ng-cloak>
            <div class="my-3">
              <i class="fas fa-futbol"></i> {{jornada.jor_name}}
            </div>
            <table class="table mt-3">
              <thead class="thead-light">
                <tr>
                  <th class="text-center align-middle"><abbr title="Posicion">Pos</abbr></th>
                  <th class="text-center align-middle">Equipo</th>
                  <th class="text-center align-middle"><abbr title="Puntos">Ptos</abbr></th>
                </tr>
              </thead>
              <tbody ng-repeat="player_jornada in jornada">
               <tr ng-class="{'champions': player_jornada.position_general < 5,
                           'uefa': (player_jornada.position_general == 5 || player_jornada.position_general == 6),
                           'intertoto': player_jornada.position_general == 7,
                           'descenso': player_jornada.position_general > jornada.length - 3}">
                  <th class="text-center align-middle">{{player_jornada.position_general}}</th>
                  <td class="text-left align-middle"><a href="profile.html?id={{player_jornada.id}}"><img ng-src="{{player_jornada.shield}}" class="foto-table" /> {{player_jornada.team}}</a></td>
                  <td class="text-center align-middle font-weight-bold">{{player_jornada.score_general}}</td>
                </tr>
              </tbody>
            </table>
          </span>
        </section>
      </div>


      <!-- Match-day Tables -->
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <section class="table-responsive text-center">
          <div class="text-center">HISTÓRICO DE JORNADAS</div>
          <span class="historic_table" ng-repeat="jornada in historic_jornada" ng-show="jornada[0].id" ng-cloak>
            <div class="my-3">
              <i class="fas fa-futbol"></i> {{jornada.jor_name}}
            </div>
            <table class="table mt-3">
              <thead class="thead-light">
                <tr>
                  <th class="text-center align-middle"><abbr title="Posicion">Pos</abbr></th>
                  <th class="text-center align-middle">Equipo</th>
                  <th class="text-center align-middle"><abbr title="Puntos">Ptos</abbr></th>
                </tr>
              </thead>
              <tbody ng-repeat="player_jornada in jornada">
                <tr ng-class="{'champions': player_jornada.position_jornada == 1,
                               'descenso': player_jornada.position_jornada == jornada.length}">
                  <th class="text-center align-middle">{{player_jornada.position_jornada}}</th>
                  <td class="text-left align-middle"><a href="profile.html?id={{player_jornada.id}}"><img ng-src="{{player_jornada.shield}}" class="foto-table" /> {{player_jornada.team}}</a></td>
                  <td class="text-center align-middle font-weight-bold">{{player_jornada.score_jornada}}</td>
                </tr>
              </tbody>
            </table>
          </span>
        </section>
      </div>


    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/table.js"></script>
  </body>
</html>
